@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: antiquewhite;
}
.container {
  height: 76vh;
  margin: 5%;
  background-color: transparent;
  width: 38%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}
.container2 {
  height: 76vh;
  margin-top: -43%;
  margin-left: 5%;
  background-color: transparent;
  width: 38%;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
}
#heart {
  padding-top: 60%;
  padding-left: 10%;
  transform: scale(0.2);
  animation: heartGrow 3s 0s ease-in-out infinite;
}
@keyframes heartGrow {
  from {
    padding-top: 55%;
    padding-left: 10%;
    transform: scale(0.2);
  }
  to {
    padding-top: 20%;
    padding-left: 7%;
    transform: scale(0.8);
  }
}

/* content */
.content {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: 5%;
  font-size: 1.25rem;
}
p:hover {
  font-size: 1.75rem;
}
a {
  text-decoration: none;
  font-size: 1.25rem;
  color: brown;
}
a:hover {
  color: dodgerblue;
}
