@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.45rem;
  background: url("./Images/coffee-1397063_640.jpg");
  background-size: 50%;
  background-repeat: repeat;
}
h1 {
  text-align: center;
  padding-left: 45px;
}

.container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.card {
  position: relative;
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right bottom, wheat, rgb(249, 243, 231));
  border-radius: 20px;
}

img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-130%);
  height: 150px;
  transition: 0.5s;
}

.card:hover img {
  transform: translateX(50%);
}

.content {
  position: relative;
  width: 50%;
  left: 20%;
  color: black;
  transition: 0.5s;
  opacity: 0;
}

.card:hover .content {
  left: 5%;
  opacity: 1;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
}

#continue {
  text-decoration: none;
  margin-left: 48%;
  color: black;
}
#continue:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: brown;
}
