* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: scroll;
  background: url("./Images/flag.jpg");
}
h1 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 2px 2px rgb(210, 100, 100);
}
.container {
  margin: 5% auto;
  height: 90vh;
  justify-content: center;
}
ul li {
  background: url("./Images/cappuccino.jpg");
  background-attachment: fixed;
  filter: grayscale(0.7);
  border: 4px outset rgb(210, 100, 100);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  text-shadow: 1px 2px 2px rgb(210, 100, 100);
  font-size: 24px;
  width: 65%;
  padding: 100px;
  margin: 1px auto;
  font-weight: bolder;
  list-style: none;
}
.content {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

ul li a {
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}
ul li a:hover {
  color: orangered;
  text-shadow: 2px 1px 1px white;
  transform: scale(0.9);
}
#music {
  text-decoration: none;
  color: wheat;
  font-size: 1rem;
}
#music:hover {
  color: brown;
}
