@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 2.5%;
}
.split {
  display: flex;
  gap: 5px;
  height: 90vh;
  overflow: hidden;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
}
.split a {
  margin-top: 15px;
  cursor: pointer;
}
.arab {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  background: url("./Images/arabian-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.arab a {
  text-decoration: none;
  color: black;
}
.arab a:hover {
  color: rgb(186, 115, 252);
}
.turk {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 2% 5%;
  background: url("./Images/coffee-pot-turk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}
#turk {
  padding-top: 66%;
}
.turk a {
  color: whitesmoke;
  text-decoration: none;
}
.turk a:hover {
  color: wheat;
}
